import(aws.signature)
import(aws.cloudwatch)
import(aws.cloudtrail)
import(aws.iam)
import(aws.s3)
import(aws.ec2)
import(aws.ec2metadata)
import(aws.sns)
import(aws.sqs)
import(aws.ses)
import(aws.glacier)
import(aws.polly)
import(aws.alexa)
import(aws.code)
exportPattern("^[^\\.]")
