import(aws.signature)
import(aws.cloudwatch)
import(aws.cloudtrail)
import(aws.iam)
import(aws.s3)
import(aws.ec2)
import(aws.sns)
import(aws.sqs)
import(aws.ses)
import(aws.glacier)
exportPattern("^[^\\.]")
